<html>
  <head>
    <link rel='stylesheet' href='stylesheets/application.css'>
    <link rel='stylesheet' href='stylesheets/modal.css'>
  </head>

  <body>
    <header id='albumDetails' class='album-details'></header>
    <div id='main'></div>
    <div id='modal' class='modal'></div>

    <!-- template scripts must be included before script tags that require them -->
    <script type='text/html' id='template-assets-list'>
        <% assets.each(function (asset) { %>
          <div class="asset-list-item">
            <img 
              src="<%= asset.get("thumbnail") %>"
              data-id="<%= asset.get('id') %>"
              onerror="imgError(this);">
            <% if(asset.get("caption")) { %>
              <div class='caption'>
                <%= asset.get("caption") %>
              </div>
            <% } %>
            <span class='flavor'>
              via: <%= asset.get("service") %>
            </span>
            <div class="likes">
              <%= asset.get("hearts") %>
            </div>
          </div>
        <% }) %>
    </script>
    
    <script type='text/html' id='template-album-info'>
      <h1 class='album-name'>Album: <%= album.get('name') %></h1>
      <a href='' class='see-more'>see more</a>
      <div class='more-details'>
        <ul>
          <li>Created: <%= album.get('created_at') %></li>
          <li>Picture Count: <%= album.get('images_count') %></li>
        </ul>
      </div>
    </script>

    <script type='text/html' id='template-show-asset'>
      <main>
        <a href="#" class="close">x</a>
        <figure>
          <img 
            style="width: <%= asset.get('dimensions')['width'] %>; max-width: 700px;"
            src='<%= asset.get("url") %>/w/700'
            onerror="imgError(this);">
        </figure>
      </main>
      <aside>
        <div class='caption'>
          <%= asset.get("caption") %>
        </div>
        <div class='asset-details'>
          Taken: <%= asset.get("created_at") %><br>
          Via: <%= asset.get("service") %><br>
          By: <%= asset.get("username") %>
        </div>
      </aside>
    </script>

    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
    <script src='javascripts/vendor/masonry.pkgd.min.js'></script>
    <script src='javascripts/vendor/imagesloaded.pkgd.min.js'></script>
    <script src='javascripts/vendor/modal.js'></script>
    
    <script src='javascripts/application.js'></script>
    <script src='javascripts/models/asset.js'></script>
    <script src='javascripts/models/album.js'></script>
    <script src='javascripts/models/user.js'></script>
    <script src='javascripts/collections/assets.js'></script>
    <script src='javascripts/views/assets_list.js'></script>
    <script src='javascripts/views/album_info.js'></script>
    <script src='javascripts/views/show_asset.js'></script>
    <script src='javascripts/router.js'></script>
    
    <script>
      $(function() {
        Surfer.initialize();
      });
    </script>
    
  </body>
</html>
