body {
  background-color: aliceblue;
  font-family: Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main {
  width: 90%;
  margin: 0 auto;
}

.show-album {
  margin: 0 auto;
}

.asset-list-item {
  background: white;
  border-radius: 10px;
  width: 200px;
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.asset-list-item > img {
  width: 100%;
  height: auto;
  min-height: 180px;
  object-fit: contain;
}

.asset-list-item .caption, .asset-list-item .likes {
  padding: 10px;
  font-weight: 100;
  color: #111;
}

.asset-list-item .likes {
  padding-left: 50px;
  height: 50px;
  position: relative;
  padding-top: 15px;
}

.asset-list-item .likes::after {
  content: '';
  position: absolute;
  left:0;top:0;
  height: 50px;
  width: 50px;
  background-image: url(../images/Heart.ico);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  opacity: 0.6;
}

.asset-list-item .likes:nth-child(3) {
  border-top: thin solid #cecece;
}